<!DOCTYPE html>
<html lang="en">
<head>
  <title>Rosana & Nestor</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

<!-- JavaScript
    ================================================== -->

    <!-- Countdown -->
    <script src="js/libs/jquery.countdown.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Rosana & Nestor</a>
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#the_wedding">The wedding</a></li>
        <li><a href="#the_proposal">The Proposal</a></li>
        <li><a href="#accommodations">Accommodations</a></li>
        <li><a href="#registry">The Registry</a></li>
        <li><a href="#rsvp">RSVP</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- First Container -->
<div id="home" class="container-fluid bg-1 text-center">
  <h3 class="margin title-font">We Are Getting Married</h3>
</div>

<!-- Second Container -->
<div id="countdown" class="my-parallax height100vh decor-none">
    <div class="my-parallax-overlay text-center">
      <div class="alignment clearfix">
        <div class="v-align center-middle">
          <div class="container">
            <div class="row">
              <div class="col-md-offset-2 col-md-8">
                <h1><%= link_to 'Rush Creek Lodge', 'http://www.rushcreeklodge.com', {:style=>'color:azure;', :target => "_blank"} %> </h1>
                <h2> April 28th, 2018</h2>
                <h2></h2>
                <br />

                <div id="getting-countdown" class="animatefadeIn"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<!-- Third Container -->
<div id="the_wedding" class="container-fluid bg-2 ">
  <div class="col-md-6 col-md-offset-3">
  <h3 class="margin">The Wedding</h3>
    <p>The drive can be dangerous at night, so we suggest that you join us at the Lodge on Friday April 27th 2018. You are welcome to join us the day of the wedding, but we caution against driving back to the Bay Area at night. Refer to the accommodations section for directions to the lodge and room reservations. Refer to things to do for fun activities for your stay at the lodge.</p>

    <h4>The Ceremony</h4>
    <p>Please join us April 28th 2018 at the Rush Creek Lodge in the woods. The ceremony area is a 10 minute walk from lobby. Wear comfortable shoes. Please meet at the lobby 30 minutes before the ceremony time.</p>

    <h4>The Reception</h4>
    <p>Cocktail hour will take place after the ceremony at the outside patio of the Event Hall at the Lodge. Enjoy h'orderves, drinks, and s’mores while you catch up with our friends and family. Dinner will take place immediately after the cocktail hour.</p>

    <%= image_tag "wedding_map.png", :class => "map-img" %>
    </div>
</div>

<!-- Forth Container (Grid) -->
<div id="the_proposal" class="row container-fluid bg-3 ">
  <div class="col-md-6 col-md-offset-3">
  <h1 class="margin">The Proposal</h1>
  <p>Nestor proposed on a Sunday morning during a weekend family trip to Yosemite. We had dated for 6 years and I was expecting him to pop the question any day now. I had mentioned to Nestor that when he proposed, I would like to have my loved ones present. With my mom and my sister with us, this trip was the perfect moment to do it. On Saturday morning we took a tour from Yosemite valley to Glacier point. Glacier point is one of the most beautiful places I have ever seen in my life, at an elevation of 7,214 feet(2,199 m) according to Wikipedia. It reminded me of the pixar movie “Up.” Such a romantic place to be engaged! “My mom and Jackie are here. If he’s going to propose, this is the perfect moment, I thought.” But he didn’t.</p>

  <p>During our tour the guide told us a Yosemite tale about the Bridal Veil falls. The tale says that he or she, who looks at the fall for 60 seconds or two minutes (don’t quote me on it), will be engaged or married within a year. That afternoon, Jackie, Nestor, and I hiked to the Bridal Veil falls. Jokingly, my sister and I stared at the falls for a whole minute. Again, the setting was perfect, the moment was right. We were at the Bridal Veil falls! But he didn’t propose.</p>

  <p>At that point, I was convinced that he wasn’t going to propose on this trip. That night, Jackie and Nestor insisted that we went to bed early and that we woke up at 5AM to watch the sunrise on our last day at Yosemite.</p>

  <p>We overslept! When I woke up I noticed it was beautifully clear outside. I woke them and told them that we were too late for sunrise. My sister seemed way too upset about it, and in a hurry for us to get out. She was also very interested in me picking the right outfit and looking good. They told me we were going to take photos in the park.</p>

  <p>We drove around Yosemite Valley and finally parked right in front of El Capitan. We walked around a little bit, but it was drizzling and too cold to be outside. Nestor told us to wait in the car while he found a good spot for us to take photos. My sister and I had what I thought was a good girl talk while he was gone.</p>

  <p>When he came back he told us that he found something, and we should come see it. He took my hand and walked me to a spot that had what looked like candles in the shape of a heart. When I realized what was happening, I heard the song “A thousand years” playing behind me. I turned around and my sister was recording with her phone and another camera. Nestor was on one knee. As always Nestor didn’t rehearse what he would say. He spoke from his heart and I said yes.<%= image_tag "happy.jpg", :class => "happy-face-img {
    " %></p>

  <p>We went back to our hotel and they told me everything. How these two had it all planned, and were on the edge and acting weird, worried that I would find out. How the candles were meant for the sunrise, and how I they had to erase texts between the two so I wouldn’t find out. How my mom  and Nestor’s family knew too. His proposal was perfect. I loved every detail of it. I loved that my sister was a part of it. I feel so lucky to have them both. I wouldn’t change it for the world.</p>
  <%= image_tag "kiss.jpg", :class => "map-img" %>
 </div>
</div>


<!-- Fifth Container -->
<div id="accommodations" class="container-fluid bg-2 text-center">
  <h1 class="margin" style="color:#FFF;">Accommodations</h1>

  <div class="card-columns">
    <div class="card" style="width: 30rem;">
      <%= image_tag "Rush-Creek-Lodge-Wedding-Yosemite-CA.jpg", :class => "map-img" %>
      <div class="card-body">
        <h4 class="card-title">Rush Creek Lodge</h4>
        <p class="card-text">Bride and Groom will be staying at the Rush Creek Lodge.</p>
        <a href="http://www.rushcreeklodge.com" class="btn btn-primary">Visit Site</a>
        <%= link_to "Booking Instructions", "/booking_instructions.pdf", :class => "card-link btn btn-primary" %>
      </div>
    </div>
    <div class="card" style="width: 30rem; margin-top: 20px; margin-bottom: 20px;">
      <%= image_tag "airbnb.jpg", :class => "map-img" %>
      <div class="card-body">
        <h4 class="card-title">Airbnb</h4>
        <p class="card-text">Cheaper option for large groups.</p>
        <a href="https://www.airbnb.com" class="btn btn-primary">Visit Site</a>
      </div>
    </div>
  </div>

  <div class="map-img">
    <h3 class="margin">Directions from SF to the Rush Creek</h3>
    <iframe style="border: 0px currentColor;" src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d1611540.1545597466!2d-122.10370655391378!3d37.9178282341375!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x8096dc0812ab59cb%3A0x584ff9f1f59784ef!2sRush+Creek+Lodge+at+Yosemite%2C+California+120%2C+Groveland%2C+CA!3m2!1d37.8135094!2d-119.8800771!4m5!1s0x80859a6d00690021%3A0x4a501367f076adff!2sSan+Francisco%2C+CA!3m2!1d37.7749295!2d-122.4194155!5e0!3m2!1sen!2sus!4v1440632897900" frameborder="0"></iframe>
  </div>

</div>


<!-- Sixth Container RSVP-->
<div id="rsvp" class="row container-fluid bg-5">
  <div class="col-md-6 col-md-offset-3">
    <h1 class="margin text-center">R.S.V.P</h1>
    <p>Comming Soon...</p>
<!--     <form>
      <%= form_for :guest, url: guest_path do |f| %>
        <div class="form-group">
          <%= f.label :full_name %>
          <%= f.text_field :full_name %>
        </div>
        <div>
          <%= f.label :email %>
          <%= email_field :email %>
        </div>
        <div>
          <%= f.submit({:class => 'btn btn-primary'}) %>
        </div>
      <% end -%>
      <div class="form-group">
        <label for="name1">Your Name</label>
        <input type="text" class="form-control" id="name1" placeholder="Enter Name">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form> -->
  </div>
</div>

<!-- Footer -->
<footer class="footer bg-4 text-center">
  <p>Site Made by: Nestor Ceron and Rosana Callejas</p>
</footer>

</body>
</html>
